<button class="btn btn-primary" (click)="openReviewModal(content)">Write a Review</button>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Write a Review</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <textarea rows="5"
                class="form-control"
                placeholder="Write about your experience in this place"
                id="text"
                name="text"
                [(ngModel)]="review.text"></textarea>
      <star-rating [starType]="'svg'"
                   [rating]="3" (ratingChange)="handleRatingChange($event)">
      </star-rating>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-bwm" (click)="confirmReview()">Confirm</button>
    <button type="button" class="btn btn-bwm" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
