<div [ngStyle]="style" class="editable-component">

  <select *ngIf="isActiveInput"
    class="{{className}}"
    (keydown.escape)="cancelUpdate()"
    (keyup.enter)="updateEntity()"
    [(ngModel)]="entity[entityField]">

  <option [selected]="entity[entityField] === undefined" disabled>---</option>
  <option *ngFor="let option of options" [ngValue]="option">{{option}}</option>
  </select>

  <span *ngIf="!isActiveInput" class="{{className}} inline"> {{entity[entityField]}} </span>

  <div class="inline">
    <button *ngIf="!isActiveInput"
      class="btn btn-sm btn-warning btn-editable"
      (click)="isActiveInput = true">
      Edit
    </button>

    <button *ngIf="isActiveInput"
      class="btn btn-sm btn-success btn-editable"
      (click)="updateEntity()">
      Save
    </button>

    <button *ngIf="isActiveInput"
      class="btn btn-sm btn-danger btn-editable"
      (click)="cancelUpdate()">
      Cancel
    </button>
  </div>
</div>
