<section id="rentalDetails" *ngIf="rental">
  <div class="upper-section">
    <div class="row">
      <div class="col-md-6">
        <img src="{{rental.image}}" alt="">
      </div>
      <div class="col-md-6">
        <bwm-map [location]="rental.city + ', ' + rental.street"> </bwm-map>
      </div>
    </div>
  </div>

  <div class="details-section">
    <div class="row">
      <div class="col-md-8">
        <div class="rental">
          <h2 class="rental-type {{rental.category}}">{{rental.shared ? 'Shared' : 'Whole'}} {{rental.category}}</h2>
          <div class="rental-owner">
            <img src="https://api.adorable.io/avatars/285/abott@adorable.png" alt="">
            <span>{{rental.user.username}}</span>
          </div>
          <h1 class="rental-title">{{rental.title}}</h1>
          <h2 class="rental-city">{{rental.city | ucwords}}</h2>
          <div class="rental-room-info">
            <span><i class="fa fa-building"></i>{{rental.bedrooms}} bedrooms</span>
            <span><i class="fa fa-user"></i> {{rental.bedrooms + 4}} guests</span>
            <span><i class="fa fa-bed"></i> {{rental.bedrooms + 2}} beds</span>
          </div>
          <p class="rental-description">
            {{rental.description}}
          </p>
          <div class="rental-rating">
            <span>{{rating}} / 5</span>
          </div>
          <hr>
          <div class="rental-assets">
            <h3 class="title">Assets</h3>
            <div class="row">
              <div class="col-md-6">
                <span><i class="fa fa-asterisk"></i> Cooling</span>
                <span><i class="fa fa-thermometer"></i> Heating</span>
                <span><i class="fa fa-location-arrow"></i> Iron</span>
              </div>
              <div class="col-md-6">
                <span><i class="fa fa-desktop"></i> Working area</span>
                <span><i class="fa fa-cube"></i> Washing machine</span>
                <span><i class="fa fa-cube"></i> Dishwasher</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <bwm-rental-detail-booking
          [rental]="rental">
        </bwm-rental-detail-booking>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <section>
            <h2>Reviews</h2>
            <div *ngFor="let review of reviews" class="card review-card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-2">
                      <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
                      <p class="text-secondary text-center">{{formatDate(review.createdAt)}}</p>
                  </div>
                  <div class="col-md-10">
                    <div>
                      <a><strong>{{review.user.username}}</strong></a>
                      <div class="review-section">
                        <star-rating [starType]="'svg'"
                                     [numOfStars]="5"
                                     [showHalfStars]="true"
                                     [disabled]="true"
                                     [rating]="review.rating">
                        </star-rating>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <p>{{review.text}}</p>
                  </div>
                </div>
              </div>
            </div>
          </section>
      </div>
    </div>
  </div>
</section>
