<button (click)="modalService.open(bookingModal)" class="btn btn-ghost">Show Bookings</button>

<ng-template #bookingModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title title">Made Bookings</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngFor="let booking of bookings; let i = index" class="bookings-inner-container">
      <p><span>Date:</span> {{booking.startAt | formatDate}} - {{booking.endAt | formatDate}} </p>
      <p><span>Guests:</span> {{booking.guests}}</p>
      <p><span>Total Price:</span> {{booking.totalPrice}} $</p>

      <hr *ngIf="bookings.length !=  i + 1" >
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-bwm" (click)="c('Close click')">Cancel</button>
  </div>
</ng-template>
